@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
}

.btn {
  position: relative;
  overflow: hidden;
  border: none;
  cursor: pointer;
  background: linear-gradient(
    120.23deg,
    #15172d 11.43%,
    #004f35 30.63%,
    #c29a15 95%,
    #ffca18 117.04%
  );
  box-shadow: 0px 4.42184px 107.23px rgba(0,79,53,0.51);
}

.btn::before {
  content: '';
  transition: all 0.4s;
  padding: '20px';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    120.23deg,
    #ffca18 21.43%,
    #c29a15 30.63%,
    #004f35 100%,
    #15172d 117.04%
  );
}

.btn:hover::before {
  opacity: 0;
}

.btn span {
  position: relative;
  z-index: 1;
}

.gradient,
.active {
  background: linear-gradient(
    120.23deg,
    #15172d 11.43%,
    #004f35 30.63%,
    #c29a15 95%,
    #ffca18 117.04%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#004f35] to-[#ffca18] font-bold font-primary hover:from-[#ffca18] hover:to-[#004f35];
  }
  /* .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text 
      from-[#15172d] via-[#004f35] to-[#ffca18] 
      font-bold font-primary 
      hover:from-[#ffca18] via-[#004f35] hover:to-[#15172d];
  } */
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}
